# Storage (Options: notion, json)
STORAGE_BACKEND=notion

# Notion
NOTION_API_KEY=secret_xxxxx
NOTION_BALANCE_DB_ID=
NOTION_CREDIT_CARD_DB_ID=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Playwright
HEADLESS=true
